
h1,h2{
    color:#fff;
    text-align: center;
}
.results > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.results a{
    color: aliceblue;
    padding-left: 30px;
}
.results .topbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:10px 40px;
}
.topbar input[type="text"] {
    padding: 8px;
    margin-right: 5px;
    background: #fff;
    box-shadow: unset;
    border: unset;
    border-radius: 5px;
}
.topbar button{
    padding: 8px 20px;
    border-radius: 5px;
    border: unset;
    background:#597199 ;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}